
@page {
    size: A4;
    margin: 8mm;}
body {
    width: 194mm;
    margin: auto;
    background-color: #e8dcc2;
    color: #2b1d0e;
    font-family: Arial, sans-serif;
    font-size: 11px;}
h1 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #5a2e0f;
    border-bottom: 3px solid #5a2e0f;
    padding-bottom: 5px;}

h2,
h3,
h4 {
    font-family: 'MedievalSharp', cursive;
    color: #5a2e0f;
    margin-top: 0;
    margin-bottom: 6px;
    border-bottom: 1px solid #8b6a3d;
    padding-bottom: 2px;}
.a {
    border: 2px solid #5a2e0f;
    background-color: #f4ecd8;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    page-break-inside: avoid;}

.b{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-bottom: 4px;}

.pericias {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;}

/* =========================
   LABELS
========================= */

label {
    font-weight: bold;
    min-width: 110px;
}

/* =========================
   INPUTS
========================= */

input[type="text"],
input[type="number"] {
    border: 1px solid #6b4a26;
    background-color: #fffdf7;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    color: #2b1d0e;
}

/* Inputs normais */

.b input[type="text"] {
    width: 120px;
}

.b input[type="number"] {
    width: 55px;
}

/* Inputs de perícia */

.pericias input[type="number"] {
    width: 45px;
}

/* Checkbox */

input[type="checkbox"] {
    transform: scale(0.9);
}

/* =========================
   TEXTAREAS
========================= */

textarea {
    width: 100%;
    border: 1px solid #6b4a26;
    background-color: #fffdf7;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

/* Área menor */

h4 + textarea {
    height: 45px;
}

/* Características */

textarea:nth-of-type(2) {
    height: 120px;
}

/* Habilidades */

textarea:nth-of-type(3) {
    height: 140px;
}

/* Equipamentos */

textarea:nth-of-type(4) {
    height: 60px;
}

/* =========================
   VIDA / MANA
========================= */

span {
    font-weight: bold;
    font-size: 14px;
}

/* =========================
   PERÍCIAS
========================= */

.pericias label {
    min-width: 150px;
}

/* =========================
   EFEITO AO CLICAR
========================= */

input:focus,
textarea:focus {
    outline: 1px solid #a36b2c;
}

/* =========================
   IMPRESSÃO
========================= */

@media print {

    body {
        background: white;
    }

    .a {
        break-inside: avoid;
    }














